<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="styl.css">
</head>
<body>
    <div class="content-div">
        <h1>Defualt</h1>
        <button type="submit" id="subbtn">Create</button>
    </div>
        
    
</body>
</html>