* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    text-align: center;
    font-family: var(--monts);
}

:root {
    --monts: 'Montserrat', sans-serif;
}

.content-div {
    display: flex;
    position: absolute;
    padding: 2rem ;
    min-width: 600px;
    border: 0 solid transparent;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 1.5rem
}

h3 {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(2, 11, 18);
}

h1 {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(1, 40, 74);
}

#subbtn {
    padding: 1rem 0;
    width: 50%;
    align-self: center ;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: white;
    background-color: dodgerblue;
    border: 0 solid transparent;
    border-radius: 4px;
    cursor: pointer
}